@model SIGEM_BIDSS.Models.tbTipoPermiso

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbTipoPermiso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tperm_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tperm_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tperm_UsuarioCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tperm_UsuarioCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tperm_FechaCrea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tperm_FechaCrea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tperm_UsuarioModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tperm_UsuarioModifica)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tperm_FechaModifica)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tperm_FechaModifica)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
