@model SIGEM_BIDSS.Models.tbTipoTransporte

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .validation-error {
        color: red;
        font-size: small;
    }

    .validation-summary-errors {
        color: red;
        font-size: small;
    }

    .required:after {
        content: "*";
        font-weight: bold;
        color: red;
    }

    #est_Descripcion {
        text-transform: uppercase;
    }
</style>




<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">
        <h3 class="card-title p-3">
            <i class="fa fa-refresh mr-1"></i>
            Editar Transporte
        </h3>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
            </li>
        </ul>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.tptran_Id)

        <div class="form-horizontal">
            <div class="card-body">


                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.tptran_Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.tptran_Descripcion, htmlAttributes: new { @class = "control-label col-sm-2" })
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.tptran_Descripcion, new { htmlAttributes = new { @class = "form-control", maxlength = "50", autocomplete = "off", @style = "text-transform:uppercase;", @onkeypress = "return soloLetras(event)", @onkeyup = "noespaciosincio(this)" } })
                        <p style="color:red">@Html.ValidationMessageFor(model => model.tptran_Descripcion, "", new { @class = "text-danger", @Id = "Transporte" })</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" id="Save" class="btn btn-primary" />
                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Content/template/plugins/datepicker/js/bootstrap-datepicker.min.js"></script>



<script src="~/Content/template/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="~/Content/template/plugins/input-mask/jquery.inputmask.js"></script>
<script src="~/Scripts/app/ValidacionesGenerales.js"></script>
<script src="~/Scripts/app/General_PCAE.js"></script>

<script>
    $("#tptran_Descripcion").keyup(function () {
        $('#Transporte').hide();
    });

</script>
