@model SIGEM_BIDSS.Models.tbRequisionCompra
@using SIGEM_BIDSS.Models;

@{
    ViewBag.Title = "Registar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/template/plugins/datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />


<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">
        <h3 class="card-title p-3">
            <i class="fa fa-upload mr-1"></i>
            Solicitud de Requisicion Compra
        </h3>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
            </li>
        </ul>
    </div>
    @using (Html.BeginForm(null, null, FormMethod.Post, FormMethod.Post, new { id = "frmRequisicionCompra" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Reqco_RazonRechazo, new { Value = GeneralFunctions.stringDefault })
                @Html.HiddenFor(model => model.are_Id)

                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Reqco_GralFechaSolicitud, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Reqco_GralFechaSolicitud, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Reqco_GralFechaSolicitud, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Reqco_Jefe, null, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Reqco_Jefe, null, new { htmlAttributes = new { @class = "form-control normalize nospace", @disabled = "disabled" } })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Area, null, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Area, null, new { htmlAttributes = new { @class = "form-control normalize nospace", @disabled = "disabled" } })
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Reqco_Comentario, htmlAttributes: new { @class = "control-label col-md-8" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Reqco_Comentario, new { @class = "form-control normalize nospace" })
                            @Html.ValidationMessageFor(model => model.Reqco_Comentario, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAuth" value="Guardar" />
                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    }

</div>


<div class="modal fade" id="ModalAuth" tabindex="-1"  data-backdrop="static" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-center align-items-center" id="spinnerForm">
                <div id="spinnerDiv" class="text-center" hidden>
                    <div class="spinner-border text-light" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="text-light">
                        <label>Guardando, estado porfavor espere</label>
                    </div>
                </div>
            </div>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Mensaje de Autorizacion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="control-label col-md-8 "></h5>
                <div class="form-group">
                    <p style="color:red" id="">
                        Entiendo que la solicitud de vacaciones está sujeta a la aprobación por parte de mi jefe inmediato.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" id="frmsubmit">Autorizar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/Content/template/plugins/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/template/plugins/datepicker/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="~/Scripts/app/Solicitud/RequisicionCompra/RequisicionCompra.js"></script>

}
