@model IEnumerable<SIGEM_BIDSS.Models.tbVacacionesPermisosEspeciales>
@using SIGEM_BIDSS.Models

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/template/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/template/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" />

<input type="hidden" id="vSwal" value="@TempData["swalfunction"]" />

<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">
        <h3 class="card-title p-3">
            <i class="fa fa-list mr-1"></i>
            Listado de Solicitudes de Vacaciones o Permisos Especiales
        </h3>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item">
                @Html.ActionLink(" Nuevo", "Create", null, new { @class = "btn btn-primary" })
            </li>
        </ul>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover table-responsive" id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.VPE_Correlativo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.emp_Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VPE_GralFechaSolicitud)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VPE_FechaInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VPE_FechaFin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VPE_CantidadDias)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.VPE_Comentario)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tbEstado.est_Descripcion)
                    </th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VPE_Correlativo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbEmpleado.emp_Nombres)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VPE_GralFechaSolicitud)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VPE_FechaInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VPE_FechaFin)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VPE_CantidadDias)
                        </td>
                        <td>
                            @if (item.VPE_Comentario != GeneralFunctions.stringDefault)
                            {@Html.DisplayFor(modelItem => item.VPE_Comentario)}
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbEstado.est_Descripcion)
                        </td>
                        <td>
                            @Html.ActionLink("Detalles", "Details", new { id = item.VPE_Id }, new { @class = "btn btn-default btn-xs", @style = "width: 57px;" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section Scripts {

    <!-- DataTables -->
    <script src="~/Content/template/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/template/plugins/datatables/dataTables.bootstrap4.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/template/dist/js/adminlte.min.js"></script>
    <script src="~/Scripts/app/DataTables.js"></script>

}
