@model IEnumerable<SIGEM_BIDSS.Models.tbSolicitudReembolsoGastos>
@using SIGEM_BIDSS.Models


@using SIGEM_BIDSS.Models


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<input type="hidden" id="vSwal" value="@TempData["swalfunction"]" />
<link href="~/Content/template/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/template/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" />


<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">
        <h3 class="card-title p-3">
            <i class="fa fa-list mr-1"></i>
            Listado de Reembolso Gastos
        </h3>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item">
                @Html.ActionLink(" Nuevo", "Create", null, new { @class = "btn btn-primary" })
            </li>
        </ul>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover table-responsive" id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Reemga_Correlativo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.tbEmpleado.emp_Nombres)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Reemga_GralFechaSolicitud)
                    </th>
                  
                    <th>
                        @Html.DisplayNameFor(model => model.Reemga_Cliente)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.mun_codigo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reemga_PropositoVisita)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reemga_DiasVisita)
                    </th>
                    <th>
                        Estado
                    </th>


                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reemga_Correlativo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tbEmpleado.emp_Nombres)    @Html.DisplayFor(modelItem => item.tbEmpleado.emp_Apellidos)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Reemga_GralFechaSolicitud)
                    </td>
                
                    <td>
                        @Html.DisplayFor(modelItem => item.Reemga_Cliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.tbMunicipio.mun_nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reemga_PropositoVisita)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reemga_DiasVisita)
                    </td>


                    <td>
                        @Html.DisplayFor(modelItem => item.tbEstado.est_Descripcion)
                    </td>
                    <td>
                        @Html.ActionLink("Detalles", "Details", new { id = item.Reemga_Id }, new { @class = "btn btn-default btn-xs", @style = "width: 57px;" })
                    </td>

                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {

    <!-- DataTables -->
    <script src="~/Content/template/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/template/plugins/datatables/dataTables.bootstrap4.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/template/dist/js/adminlte.min.js"></script>
    <script src="~/Scripts/app/DataTables.js"></script>


}