@model IEnumerable<SIGEM_BIDSS.Models.tbDeduccionInstitucionFinanciera>
@using SIGEM_BIDSS.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<link href="~/Content/template/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/template/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
<input type="hidden" id="vSwal" value="@TempData[" swalfunction"]" />

<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">
        <h3 class="card-title p-3">
            <i class="fa fa-list mr-1"></i>
            Listado Deducción Institución Financiera
        </h3>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item">
                @Html.ActionLink(" Nuevo", "Create", null, new { @class = "btn btn-primary" })
            </li>
        </ul>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover" id="dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.deif_IdDeduccionInstFinanciera)
                    </th>
                    <th>
                        Institución Financieras
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.deif_Monto)
                    </th>


                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr data-id="@item.deif_IdDeduccionInstFinanciera">

                        <td>
                            @Html.DisplayFor(modelItem => item.deif_IdDeduccionInstFinanciera)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.tbInstitucionFinanciera.insf_Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.deif_Monto)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.deif_IdDeduccionInstFinanciera }, new { @class = "btn btn-primary btn-xs" })
                            @Html.ActionLink("Detalles", "Details", new { id = item.deif_IdDeduccionInstFinanciera }, new { @class = "btn btn-default btn-xs" })


                            @if (item.deif_Activo == GeneralFunctions.instfinAceptar)
                            {
                                <input type="button" id="Desactivar" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#ModalRazonInactivacion" value="Inactivar" />

                            }
                            else if (item.deif_Activo == GeneralFunctions.instfinDenegar)
                            {
                                <input type="button" id="Activar" class="btn btn-success btn-xs" data-toggle="modal" data-target="#ModalRazonActivacion" Style="width:55px" value="Activar" />

                            }
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts {

    <!-- Bootstrap 4 -->
    <script src="~/Content/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="~/Content/template/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/template/plugins/datatables/dataTables.bootstrap4.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/template/dist/js/adminlte.min.js"></script>
    <script src="~/Scripts/app/General.js"></script>
    <script src="~/Scripts/app/DataTables.js"></script>

    <input id="Deduccioninstfinanciera" type="hidden" />


    <div class="modal fade" id="ModalRazonInactivacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea inactivar el registro seleccionado?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer">

                    <button class="btn btn-primary" type="submit" id="btnRaInac">Inactivar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalRazonActivacion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModalLabel">¿Está seguro que desea activar el registro seleccionado?</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer">

                    <button class="btn btn-primary" type="submit" id="btnAc">Activar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- DataTables -->
    <script src="~/Content/template/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/template/plugins/datatables/dataTables.bootstrap4.js"></script>


    <script>



        $(document).on("click", "#dataTable tbody tr td input#Activar", function () {
         var   _Insf_Id = $(this).closest('tr').data('id');
            $("#Deduccioninstfinanciera").val(_Insf_Id);
        })


        $('#btnAc').click(function () {
            insf_Id = $("#Deduccioninstfinanciera").val()
            $.ajax({
                url: "/DeduccionInstitucionFinanciera/ActivarInstitucionFinanciera",
                method: "POST",
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ insf_Id: insf_Id }),

            })
                .done(function (data) {

                    location.reload();
                });
        });





        $(document).on("click", "#dataTable tbody tr td input#Desactivar", function () {
          var  _Insf_Id = $(this).closest('tr').data('id');
            $("#Deduccioninstfinanciera").val(_Insf_Id);

        })


        $('#btnRaInac').click(function () {

            insf_Id = $("#Deduccioninstfinanciera").val()
            console.log(Deduccioninstfinanciera);
            $.ajax({
                url: "/DeduccionInstitucionFinanciera/InactivarInstitucionFinanciera",
                method: "POST",
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({ insf_Id: insf_Id }),
            })
                .done(function (data) {
                    $("Deduccioninstfinanciera").val("");
                    window.location.href = "/DeduccioninstitucionFinanciera/Index"
                });
        });


    </script>




}
