@model SIGEM_BIDSS.Models.tbProductoCategoria
@using SIGEM_BIDSS.Models
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="vSwal" value="@TempData["swalfunction"]" />

<link href="~/Content/template/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/template/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" />

<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">
        <h3 class="card-title p-3">
            <i class="fa fa-upload mr-1"></i>
            Insertar Producto
        </h3>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
            </li>
        </ul>
    </div>
    @using (Html.BeginForm("Create", "ProductoCategoria", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmCreateCategoria" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.pcat_Descripcion, htmlAttributes: new { @class = "control-label col-sm-2" })
                    <div class="col-sm-4">
                        @Html.EditorFor(model => model.pcat_Descripcion, new { htmlAttributes = new { @class = "form-control inputFormu", @maxlength = "50", @autocomplete = "off", @onkeypress = "return soloLetras(event)", @style = "text-transform:uppercase;", onkeyup = "validar()" } })
                        @Html.ValidationMessageFor(model => model.pcat_Descripcion, "", new { @class = "text-danger", @Id = "categoria" })
                    </div>
                </div>

                
            </div>
            <div class="ibox float-e-margins">

                <div class="ibox-content">
                    <div class="form-horizontal">
                        @Html.Partial("_CrearSubCategoria", new tbProductoSubcategoria())
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-10">
                    <input type="submit" value="Guardar" id="Save" class="btn btn-primary" />
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
    }

</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/Content/template/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables -->
<script src="~/Content/template/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Content/template/plugins/datatables/dataTables.bootstrap4.js"></script>
<!-- AdminLTE App -->
<script src="~/Content/template/dist/js/adminlte.min.js"></script>


<script src="~/Scripts/app/Categoria.js"></script>




<script>
    $("#pcat_Descripcion").keyup(function () {
        $('#categoria').hide();
    });


    //Funcion no aceptar espacios en el textbox
    document.addEventListener("input", function () {
        $("input[type='text']", 'form').each(function () {
            var _id = $(this).attr("id");
            _value = document.getElementById(_id).value;
            document.getElementById(_id).value = _value.trimStart();

        });
        $(".normalize", 'form').each(function (e) {
            if (!/^[ A-Záéíóúüñ]*$/i.test(this.value)) {
                this.value = this.value.replace(/[^ .,A-Záéíóúüñ]+/ig, "");
            }
        });
    })


</script>
