@model IEnumerable<SIGEM_BIDSS.Models.tbLiquidacionAnticipoViaticoDetalle>


<table class="table table-bordered table-hover" id="dataTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lianvide_FechaGasto)
            </th>
            <th>
                Tipo Gasto
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lianvide_Concepto)
            </th>
            <th>
                Archivo
            </th>
            <th>
                Monto de Gastos
            </th>


            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lianvide_FechaGasto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tbTipoViatico.tpv_Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lianvide_Concepto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lianvide_Archivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lianvide_MontoGasto)
                </td>
                <td>
                </td>
                
                <td></td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>

            <th>
                Total Gastos
            </th>

            <th>

            </th>
            <th>

            </th>

        </tr>
    </tfoot>

</table>


