@model SIGEM_BIDSS.Models.tbAnticipoViatico
@using SIGEM_BIDSS.Models;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var test = new SIGEM_BIDSS.Models.tbMunicipio();
}

<style>
    #Anvi_Comentario {
        text-transform: uppercase;
    }
</style>
<link href="~/Content/template/plugins/datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
<div class="card card-primary card-outline">
    <div class="card-header d-flex p-0 ui-sortable-handle">
        <h3 class="card-title p-3">
            <i class="fa fa-upload mr-1"></i>
            Insertar Anticipo Viáticos
        </h3>
        <ul class="nav nav-pills ml-auto p-2">
            <li class="nav-item">
                @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
            </li>
        </ul>
    </div>

    @using (Html.BeginForm(null, null, FormMethod.Post, FormMethod.Post, new { id = "frmAnticipoViatico" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.Anvi_RazonRechazo, new { Value = GeneralFunctions.stringDefault })

        <div class="form-horizontal">
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Anvi_JefeInmediato, "Jefe Inmediato", htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-11">
                            @Html.DropDownList("Anvi_JefeInmediato", null, "Seleccione Jefe Inmediato", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Anvi_JefeInmediato, "", new { @class = "text-danger", id = "JefeInmediato" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Anvi_GralFechaSolicitud, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.Anvi_GralFechaSolicitud, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
                            @*@Html.ValidationMessageFor(model => model.Anvi_GralFechaSolicitud, "", new { @class = "text-danger", id = "GralFechaSolicitud" })*@
                            @Html.ValidationMessageFor(model => model.Anvi_GralFechaSolicitud, "", new { @class = "text-danger", id = "spanFechaInicio" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Anvi_Cliente, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.Anvi_Cliente, new { htmlAttributes = new { @class = "form-control", @style = "text-transform:uppercase;", @OnKeyPress = "return soloLetras(event)", @maxlength = "100" } })
                            @Html.ValidationMessageFor(model => model.Anvi_Cliente, "", new { @class = "text-danger", id = "Cliente" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Anvi_FechaViaje, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.Anvi_FechaViaje, new { htmlAttributes = new { @class = "form-control", @style = "background-color:white" } })
                            @*@Html.ValidationMessageFor(model => model.Anvi_FechaViaje, "", new { @class = "text-danger", id = "FechaViaje" })*@
                            @Html.ValidationMessageFor(model => model.Anvi_FechaViaje, "", new { @class = "text-danger", id = "spanFechaFin" })
                        </div>
                    </div>
                </div>

                <label class="col-form-label col-md-6" for="inputSuccess"><i class="fa fa-map-marker"></i> Lugar de Destino</label>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label class="control-label col-md-6">Departamento</label>
                        <div class="col-md-11">
                            @Html.DropDownList("dep_codigo", null, "Seleccione Departamento", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Anvi_UsuarioCrea, "", new { @class = "text-danger", id = "UsuarioCrea" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.mun_Codigo, "Municipio", new { @class = "control-label col-md-6" })
                        <div class="col-md-11">
                            <input type="hidden" id="munCodigo" name="munCodigo" value="@ViewBag.munCodigo" />
                            <select class="form-control" name="mun_Codigo" id="mun_Codigo">
                                <option>Seleccione Municipio</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.mun_Codigo, "", new { @class = "text-danger", id = "CodigoMun" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Anvi_PropositoVisita, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.Anvi_PropositoVisita, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
                            @Html.ValidationMessageFor(model => model.Anvi_PropositoVisita, "", new { @class = "text-danger", id = "PropositoVisita" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Anvi_DiasVisita, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-11">
                            @Html.EditorFor(model => model.Anvi_DiasVisita, new { htmlAttributes = new { @type = "text", @class = "form-control", @maxlength = "2", @minlength = "1", @OnKeyPress = "return soloNumeros(event)" } })
                            @Html.ValidationMessageFor(model => model.Anvi_DiasVisita, "", new { @class = "text-danger", id = "DiasVisita" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Anvi_tptran_Id, "Tipo Transporte", htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-11">
                            @Html.DropDownList("Anvi_tptran_Id", null, "Seleccione Tipo Transporte", htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Anvi_tptran_Id, "", new { @class = "text-danger", id = "tptran_Id" })
                        </div>
                    </div>

                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Anvi_Hospedaje, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Anvi_Hospedaje)
                            @Html.ValidationMessageFor(model => model.Anvi_Hospedaje, "", new { @class = "text-danger", id = "Hospedaje" })
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        @Html.LabelFor(model => model.Anvi_Comentario, htmlAttributes: new { @class = "control-label col-md-6" })
                        <div class="col-md-11">

                            @Html.TextAreaFor(model => model.Anvi_Comentario, new { @class = "form-control normalize" })

                            @Html.ValidationMessageFor(model => model.Anvi_Comentario, "", new { @class = "text-danger", id = "Comentario" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalAuth" value="Guardar" />
                        @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@*<div class="modal fade" id="AutorizacionModal" aria-hidden="true">
        <div class="modal-dialog danger">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Alerta</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <p>¿Autoriza  a BI- DSS Technology para que debite de su sueldo el anticipo que no hubiere liquidado, dentro del plazo de 30 días contados a partir de su regreso del viaje?</p>
                </div>
                <div class="modal-footer justify-content-between">
                    <div class="col-md-offset-4 col-md-10">
                        <input class="btn btn-danger" value="Aceptar" id="btnAutorizacion" type="button" />
                        <button type="button" class="btn btn-default" data-dismiss="modal"> Cancelar </button>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>*@


<div class="modal fade" id="ModalAuth" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="d-flex justify-content-center align-items-center" id="spinnerForm">
                <div id="spinnerDiv" class="text-center" hidden>
                    <div class="spinner-border text-light" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="text-light">
                        <label>Guardando, estado porfavor espere</label>
                    </div>
                </div>
            </div>
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Mensaje de Autorizacion</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="control-label col-md-8 "></h5>
                <div class="form-group">
                    <p>
                        ¿Autoriza  a BI- DSS Technology para que debite de su sueldo el anticipo que no hubiere liquidado, dentro del plazo de 30 días contados a partir de su regreso del viaje?
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" id="frmsubmit">Autorizar</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Content/template/plugins/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/template/plugins/datepicker/locales/bootstrap-datepicker.es.min.js"></script>
    <script src="~/Scripts/app/Solicitud/AnticipoViatico/AnticipoViatico.js"></script>
}